<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfj.springBoot.mapper.UserMapper">
    <select id="queryAllMsg" resultType="users">
        select * from users
    </select>

    <!--如果没有此用户则创建该用户,包含注册功能-->
    <insert id="insertMsg" parameterType="users">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            userid,userName,
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="grade!=null and grade!=''">
                grade,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="gender!=null and gender!=''">
                gender,
            </if>
            <if test="phone!=null and phone!=''">
                phone,
            </if>
            <if test="birthday!=null and birthday!=''">
                birthday,
            </if>
            <if test="idCard!=null and idCard!=''">
                idCard,
            </if>
            <if test="userImg!=null and userImg!=''">
                userImg,
            </if>
            <if test="address!=null and address!=''">
                address,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            seq_userid_user.nextval,#{userName},
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="grade!=null and grade!=''">
                #{grade},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="gender!=null and gender!=''">
                #{gender},
            </if>
            <if test="phone!=null and phone!=''">
                #{phone},
            </if>
            <if test="birthday!=null and birthday!=''">
                #{birthday},
            </if>
            <if test="idCard!=null and idCard!=''">
                #{idCard},
            </if>
            <if test="userImg!=null and userImg!=''">
                #{userImg},
            </if>
            <if test="address!=null and address!=''">
                #{address},
            </if>
        </trim>
    </insert>

    <update id="updateMsg" parameterType="users">
        update Users
        <set>
            <if test="userName!=null and userName!=''">
                userName=#{userName},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="grade!=null">
                grade=#{grade},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="gender!=null and gender!=''">
                gender=#{gender},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
            <if test="idCard!=null and idCard!=''">
                idCard=#{idCard},
            </if>
            <if test="userImg!=null and userImg!=''">
                userImg=#{userImg},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
        </set>
        where userId=#{userId}
    </update>

    <delete id="deleteMsg">
        delete users where userId in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>